<!DOCTYPE html>
<html lang = "en-us">

<head>
    <title>Kotaku Scraper</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/assets/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



</head>
<ul class="nav">
    <h2>Kotaku Scraper</h2>
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/saved">Saved Articles</a>
  </li>
    <button class="btn btn-danger" id="scrapeNew">Scrape New Articles!</button>
  </li>
</ul>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Kotaku Scraper</h1>
    <p class="lead">scrape away</p>
  </div>
</div>

<!-- MODAL -->
      
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Your Friend Match!</h5>
            </div>
            <div class="modal-body">
                <h5 class="modal-title" id="userMatchName"></h5>
                <img id="userMatchImg" src="" width="350" height="200" alt="No Image">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

<body>
	{{{ body }}}
    <script src="../../public/assets/javascript/app.js"></script>
</body>
	
</html>