body{
  background-color: #000 !important;
}

#bottomPart { 
  background-color:black;
  height: 100%;
  margin: 0 auto;
}
a.nav-link {
  color:deepskyblue !important;
  font-family: 'Tajawal', sans-serif;
}

a {
  color: deeppink !important;
  font-family: 'Tajawal', sans-serif;
}
a:hover {
  text-decoration: overline !important;
}
p {
  color: white;
  font-family: 'Tajawal', sans-serif;
}

h4 {
  color: deepskyblue !important;
  font-family: 'Krona One', sans-serif;
}


.btn-primary {
  color: #000 !important;
  background-color: deepskyblue !important;
  border-color: deepskyblue !important;
  font-family: 'Tajawal', sans-serif;
}
.btn-primary:hover {
  color: #000 !important;
  background-color: deepskyblue !important;
  border-color: deepskyblue !important;
  opacity: 0.75;
}

#saveartBtn {
  color: #000 !important;
  background-color: mediumspringgreen !important;
  border-color: mediumspringgreen !important;
  float: right;
  font-family: 'Tajawal', sans-serif;
}

#saveartBtn:hover {
  color: #000 !important;
  background-color: mediumspringgreen !important;
  border-color: mediumspringgreen !important;
  float: right;
  opacity: 0.75;
}

.nav {
  padding: 5px;
}
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 100%;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

#notesBtn, #deleteBtn, #saveBtn {
  float: right;
}

#artTitle {
  word-wrap: break-word !important;
  float: left;
}

#savedTitle, #scrapeTitle {
  text-align: center;
  color: white;
  font-family: 'Krona One', sans-serif;
}

#subTitle {
  text-align: center;
  color: white;
  font-family: 'Krona One', sans-serif;
}

.display-4 {
  color: gold;
  font-size: 68px !important;
}
.lead {
  font-size: 30px !important;
}

.jumbotron {
  background-image: url("../images/steve-roe-674991-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-size: 100%;
  color:white;
  font-weight: bold;
  padding: 0px;
  text-shadow: black 8px 8px;
  margin-bottom: 0px !important;
  font-family: 'Krona One', sans-serif;

}

.nav {
  background-color: black;
  color: white;
}

.panel {
  margin: 0px;
  margin-bottom: 66px;
}