body { background-color: #F2F6D0 }
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 100%;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

#notesBtn, #deleteBtn, #saveBtn {
  float: right;
}

#artTitle {
  word-wrap: break-word !important;
  float: left;
}

#savedTitle, #scrapeTitle {
  text-align: center;
}

.jumbotron {
  background-image: url("../images/steve-roe-674991-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-size: 100%;
  color:white;
  font-weight: bold;
  padding: 0px;
  text-shadow: black 5px 5px;

}

.nav {
  background-color: black;
  color: white;
}

.panel {
  margin: 10px;
  margin-bottom: 30px;
}